[submodule "jns42-generator-ts"]
	path = jns42-generator-ts
	url = ../jns42-generator-ts
	ignore = all
[submodule "jns42-generator-rs"]
	path = jns42-generator-rs
	url = ../jns42-generator-rs
	ignore = all
